body{
    background-color: lightgray;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: black;
}
h1{
    color: darkblue;
    text-align: center;
}
nav{
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: sticky;
    top: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-around;

}
nav a{
    color: rgb(99, 45, 45);
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    text-decoration-color: blue;
    text-decoration-thickness: 5px;
}
nav a:hover{
    color: rgb(234, 11, 175);
}
.product{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgb(22, 164, 145);
}
.product img{
    max-width: 25%;
    height: auto;
    border-radius: 5px;
    scroll-snap-type: y mandatory;
    padding-inline-start: initial;
}
button{
    background-color: rgb(123, 7, 7);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    contain-intrinsic-block-size: 20px;
}
button:hover{
    background-color: blue;
}
section#products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-now;
}
h2{
    text-align: center;
    color: darkblue;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}
div.product h3{
    color: darkred;

}